@charset "UTF-8";

$pointColor: #33afe9;

body {
    font-family: "맑은 고딕";
}

.container {
    height: 60%;
    margin: auto;
}

header {
    width: 100%;
    height: 174px;
    background-color: rgb(255, 255, 255);
}

.top {
    width: 100%;
    height: 38px;
    background-color: $pointColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #fff;



    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        margin: none;
    }


    .mainmanu {
        width: 52%;
        height: 100%;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        font-size: 75%;
    }

    .mainmanu li:hover {
        cursor: pointer;
    }

    .member {
        width: 25%;
        height: 100%;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20%;
    }

}

.advertisement img {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.searchcing {
    width: 90%;
    display: flex;
    align-items: center;
    color: #4982ce;
    font-size: 30%;
}

.searchcing:hover {
    cursor: pointer;
}

.search {
    width: 50%;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: #2fa0d4 solid;
    border-width: 3px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 11px;

    input {
        width: 60%;
        border: none;
        // font-size: 10%
    }
}

.bottom {
    width: 100%;
    height: 20%;
    margin-top: -7px;
    // background-color:aqua;
    border: #2fa0d4 solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
    }

    .bottomleft {
        width: 60%;
        height: 10px;
        font-size: 11px;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottomright {
        width: 15%;
        height: 10px;
        font-size: 12px;
        margin-right: 10px;
        float: right;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// 메인보드

#mainWindow {
    width: 100%;
    height: 3150px;
    margin-top: -4px;
    overflow: hidden;
    // background-color: rgb(255, 225, 225);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container {
        width: 1030px;
        height: 100%;
        overflow: hidden;
        background-color: #fff;

    }

    .mWslide {
        width: 100%;
        height: 430px;
        overflow: hidden;
        background-color: #d4eaff;
        border: #d4eaff solid;
        border-width: 1px;
        border-radius: 10px;

        #notice {
            width: 100%px;
            height: 10px;
            margin: 10px;
            margin-left: 40px;
        }

        #notice ul {
            background-color: #d4eaff;
            width: 100%;
        }

        #notice li {
            float: left;
            width: 110px;
            height: 30px;
            margin-left: 8px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            // text-align:center;
            cursor: pointer;
            font-size: 13px;
            border-radius: 20px;
        }

        #notice .tab_list {
            float: left;
            width: 280px;
            height: 150px;
        }

        .active {
            background-color: #4982ce;
            color: #fff;

        }

        .tab_sub:not(:first-of-type) {
            display: none;
        }


        .mWSbook {
            width: 100%;
            height: 375px;
            background-color: #ffffff;
            overflow: hidden;
            border: #d4eaff solid;
            border-radius: 10px;
            position: relative;
            font-size: 10px;
            text-align: center;
            line-height: 20px;

        }


        .mWSbook h5 {
            font-size: 12px;
        }

        .mWSbook p:nth-of-type(1) {
            color: #2fa0d4;
        }

        .mWSbook li {
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 35px;
        }

        .mWSbook li:hover {
            cursor: pointer;
        }

        .mWSbook li img {
            width: 170px;
        }
    }

    .mWSBbook {
        width: 100%;
        height: 75px;
    }

}

#notice1 {
    width: 100%;
    height: 330px;
    margin: 10px;
    margin-top: 20px;
}

#notice1 ul {
    width: 70%;
    height: 37px;
    font-size: 10px;
}

#notice1 li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: left;
    width: 15%;
    height: 37px;
    cursor: pointer;
    padding-top: 7px;
    font-size: 13px;
    background-color: none;
    border: solid #d1d1d1 2px;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    margin-left: 5px;
}

#notice1 .tab1_list {
    float: left;
    width: calc(100% - 280px);
    height: 330px;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.not img {
    width: 280px;
        display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #dadada
}

.not {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.active {
    font-weight: bold;
    background-color: #ffffff;
}

.tab1_sub {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    text-align: center;

    &:not(:first-of-type) {
        display: none;
    }

    .box {
        width: 22%;
        height: 100%;

        img {
            width: 100%;
            margin-bottom: 20px;
            height: 70%;
        }
    }
}

// 한강, 신작 출간 추천도서
#hanSlide .han_list {
    width: 1020px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 400px;
    padding: 10px;
    font-size: 19px;
    // float: left;
    cursor: pointer;
}

.han_list h3 {
    width: 100%;
    cursor: pointer;
}

.han_sub {
    width: 17%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 13px;
}

#magicSlide .magic_list {
    width: 1020px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 320px;
    padding: 10px;
    font-size: 19px;
    float: left;
    cursor: pointer;
}

.magic_list h3 {
    width: 100%;
    cursor: pointer;
}


.magic_sub {
    width: 17%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 13px;
}

// 화제의 책
#fierSlide .fier_list {
    width: 1020px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 300px;
    padding: 10px;
    font-size: 19px;
}

#fierSlide {}

.fier_list h3 {
    width: 100%;
    height: 20%;

}

.fier_sub {
    background-color: #ddd;
    padding: 20px;
    width: 30%;
    img{
        float: left;
        margin-right: 20px;
    }
    
    h5 {
        width: 100%;
        font-size: 10px;
    }
}



#mangSlide .mang_list {
    width: 1020px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    height: 400px;
    padding: 10px;
    font-size: 19px;
    float: left;
    cursor: pointer;
}

.mang_list h3 {
    width: 100%;
    cursor: pointer;
}


.mang_sub {
    width: 17%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 13px;
}

.hirinbox {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hirinbox ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.hirinbox li {
    width: 30%;
}

#lastSlide .last_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
    padding: 10px;
    font-size: 19px;
    float: left;
    cursor: pointer;
}

.last_list h3 {
    width: 100%;
    cursor: pointer;
}


.last_sub {
    width: 17%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 13px;
}



// 푸터
footer {
    width: 100%;
    height: 300px;
}

.container {
    width: 1030px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .poote {
    width: 1030px;
    height: 60px;
    font-size: 11px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid #999 1px;
    border-bottom: solid 1px #999;
    color: #000;
}

.poote li:hover{
    cursor: pointer;
    font-weight: 900;
}

.poote0 {
    width: 1030px;
    display: flex;
    font-size: 10px;
}

.poote1 {
    width: 70%;
    height: 200px;
    display: flex;
    // justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.poote1 li {
    width: 25%;
    height: 9%;
    color: #222;
}

.poote1 li:nth-of-type(1) {
    width: 100%;
    height: 15%;
    margin-top: -30px;
    font-size: 15px;
    font-weight: 900;
    color: #000;
}

.poote1 li:nth-of-type(3) {
    margin-left: -80px;
}

.poote1 li:nth-of-type(4) {
    margin-left: -30px;
}

.poote1 li:nth-of-type(5) {
    margin-left: 15px;
}

.poote1 li:nth-of-type(8) {
    width: 100%;
    color: #444;
}

.poote2 {
    width: 30%;
    height: 240px;
    display: flex;
    // justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.poote2 li {
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #222;
}

.poote2 li:nth-of-type(1) {
    width: 100%;
    height: 15%;
    font-size: 15px;
    font-weight: 900;
    color: #000;
}

.poote2 li:nth-of-type(2) {
    margin-bottom: 5px;
}

.poote2 li:nth-of-type(3) {
    width: 45%;
    height: 15%;
    font-size: 13px;
    border: #dadada solid 2px;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.poote2 li:nth-of-type(4) {
    width: 2%;
}

.poote2 li:nth-of-type(5) {
    width: 45%;
    height: 15%;
    font-size: 13px;
    border: #dadada solid 2px;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    }

.poote2 li:nth-of-type(6) {
    width: 92.5%;
    height: 15%;
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
    border: #dadada solid 2px;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

}