@charset "UTF-8";

$pointColor: #33afe9;

body {
    font-family: "맑은 고딕";
}

.container {
    width: 1030px;
    height: 60%;
    margin: 0 auto;
    // background-color: skyblue;
}

header {
    width: 100%;
    height: 174px;
    background-color: rgb(255, 255, 255);
}

.top {
    width: 100%;
    height: 38px;
    background-color: $pointColor;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
    }

    .mainmanu {
        width: 52%;
        height: 100%;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 75%;
    }

    .member {
        width: 25%;
        height: 100%;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20%;
    }

}

.container .logo {
    width: 200px;
}

.container:nth-of-type(2) {
    height: 90px;
    margin-top: 5px;
}

.advertisement img {
    width: 150px;
    margin-left: 80px;
}

.searchcing {
    display: flex;


    align-items: center;
    font-size: 50%;
    color: #999;
}

.search {
    width: 50%;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: #2fa0d4 solid;
    border-width: 3px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 170%;
    color: #2fa0d4;

    input {
        width: 60%;
        border: none;
    }
}

.bottom {
    width: 100%;
    height: 20%;
    margin-top: -7px;
    // background-color:aqua;
    border: #2fa0d4 solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
    }

    .bottomleft {
        width: 50%;
        height: 10px;
        font-size: 11px;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottomright {
        width: 15%;
        height: 10px;
        font-size: 12px;
        margin-right: 10px;
        float: right;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// 메인보드

#mainWindow {
    width: 100%;
    height: 7000px;
    margin-top: -4px;
    overflow: hidden;
    background-color: rgb(255, 225, 225);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container {
        width: 1030px;
        height: 100%;
        overflow: hidden;
        background-color: #fff;

    }

    .mWslide {
        width: 100%;
        height: 430px;
        overflow: hidden;
        background-color: #d4eaff;
        border: #d4eaff solid;
        border-width: 1px;
        border-radius: 10px;

    #notice{
        width: 100%px;
        height: 10px;
        margin: 10px;
        margin-left: 40px;        
    }
    #notice ul {
        background-color: #d4eaff;
        width: 100%;
    }
    #notice li {
        float: left;
        width: 110px;
        height: 30px;
        margin-left: 8px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        // text-align:center;
        cursor: pointer; 
        font-size: 13px;
        border-radius: 20px;
    }
    #notice .tab_list {
        float: left;
        width: 280px;
        height: 150px;
    }
    .active {
        background-color: #4982ce;
        color:#fff;

    }
    .tab_sub:not(:first-of-type) {display: none;}
    
        
        .mWSbook{
        width: 100%;
        height: 375px;
        background-color: #ffffff;
        overflow: hidden;
        border: #d4eaff solid;
        border-radius: 10px;
        position: relative;
        font-size: 10px;
        text-align: center;
        line-height: 20px;
    }

        .mWSbook a{
            color: #000;
        }

        .mWSbook h5{
            font-size: 12px;
        }

        .mWSbook p:nth-of-type(1){
            color: #2fa0d4;
        }

        .mWSbook li{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content:space-evenly;
        align-items:center;
        margin-top: 35px;
    }

        .mWSbook li:hover{
            cursor: pointer;
        }
    
        .mWSbook li img{
             width: 170px;
        } 
    }

    .mWSBbook{
        width: 100%;
        height: 75px;
    }
    
}

#notice1{
    width:100%; 
    height:250px; 
    margin:10px;
    margin-top: 20px;
}
#notice1 ul {
    width: 55%;
    height:37px; 
    background-color: #eee; 
}
#notice1 li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: left; 
    width:20%;
    height:37px; 
    cursor:pointer;
    padding-top:7px;
    font-size: 14px; 
}

#notice1 .tab1_list {
    float: left;
    width:70%; 
    height:330px; 
    border-top: 2px solid #ddd; 
    border-left: 1px solid #ddd; 
    border-bottom: 1px solid #ddd; 
    border-right: 1px solid #ddd; 
    padding:10px; 
}

.active {
    background-color: #fff; 
    font-weight: bold;
    border: solid #dadada 1px;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}
.tab1_sub:not(:first-of-type) {
    display:none;
}


// 푸터
footer {
    width: 100%;
    height: 100px;
    background-color: pink;
}