@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul,ol{
    list-style: none;
}


.searchcing input{
    font-size: 14px;
    font-weight: 700;
}



.bottomleft li:nth-of-type(2) {
    color: #8f2323;
}