@charset "UTF-8";

@import "reset", "common";

ul,
li {
    list-style: none;
}

header {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    padding: 10px;
}

h1 a {
    text-decoration: none;
    color: #000;
}

section {
    width: 100%;
    height: 1700px;
    margin: 30px auto 0 auto;
    border: 1px solid red;
    border-radius: 30px;
    padding: 10px;
    position: relative;
}

section h3 {
    padding: 30px 0 0 20px;
}

/*sub*/
.sub_box {
    width: 400px;
    height: 500px;
    float: left;
    text-align: center;
    margin: 20px;
    padding: 15px 30px;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 4px 4px 4px #fff;
}

.sub_box img {
    width: 200px;
    height: 300px;
    float: left;
    border: 1px solid #ddd;
    box-shadow: 4px 4px 4px #eee;
    margin: 60px 0 0 0px;
}

.sub_box h3 {
    text-align: left;
}

//------------메인보드------------//

#mainstart {
    width: 1030px;
    height: 100%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    // background-color: rgb(255, 225, 225);


    .container1 {
        width: 100%;
        height: 13%;
        line-height: 50px;


        .borderbox {
            width: 65px;
            height: 20px;
            font-size: 12px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            float: left;
            border: solid 1px #d1d1d1;
            border-radius: 4px;
            cursor: pointer;
        }


        .borderbox1 {
            width: 65px;
            height: 20px;
            font-size: 12px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: solid 1px #d1d1d1;
            border-radius: 4px;
            cursor: pointer;
        }

        .title {
            font-size: 25px;
            font-weight: 550;
        }

        .Bootitle {
            width: 100%;
            font-size: 14px;
            padding-bottom: 8px;
            border-bottom: solid #d1d1d1 2px;
        }
    }
}

* {
    box-sizing: border-box;
}

.bookimg {
    width: 30%;
    margin-top: 30px;

    p {
        font-size: 18px;
        text-align: center;
        margin-right: 25px;
        margin-top: 20px;
        cursor: pointer;
    }

    img {
        width: 90%;
        background-color: #b60b82;

    }
}

.table1 {
    width: 70%;
    // background-color: #b3b3b3;
    margin-top: 30px;
}

.table1 td {
    padding: 6px 15px;
}

.table1 td:nth-of-type(1) {
    padding: 0
}

.table1 td:first-child {
    width: 120px;
}

.panm {
    font-size: 25px;
    color: #b60b82;
}

.panm span {
    font-size: 15px;
    color: #000;
}

.panm1 span {
    font-size: 17px;
    color: #b60b82;
    font-weight: 900;
}

.b1 {
    color: #b60b82;
}

button {
    margin: 3px;
    cursor: pointer;
}

button:first-child {
    width: 150px;
    height: 60px;
    font-size: 16px;
    font-weight: 500;
    background-color: #ce0d94;
    border-radius: 1px;
    color: #fff;
    border: none;
}

button:first-child:hover {
    background-color: #b60b82;
}

button:nth-child(2) {
    width: 150px;
    height: 60px;
    font-size: 16px;
    font-weight: 500;
    background-color: #e21c1c;
    border-radius: 1px;
    color: #fff;
    border: none;
}

button:nth-child(2):hover {
    background-color: #c21717;
}

button:nth-child(3) {
    width: 120px;
    height: 60px;
    font-size: 16px;
    background-color: #fff;
    border-radius: 1px;
    color: #ce0d94;
    border: none;
    border: 1px solid #ce0d94;
}

button:nth-child(3):hover {
    background-color: #f3f3f3;
}

button:nth-child(4) {
    width: 120px;
    height: 60px;
    font-size: 16px;
    background-color: #fff;
    border-radius: 1px;
    color: #ce0d94;
    border: none;
    border: 1px solid #ce0d94;
}

button:nth-child(4):hover {
    background-color: #f3f3f3;
}

select {
    width: 80px;
    height: 45px;
    margin: 5px 0 0 0px;
    font-family: "돋움";
    font-size: 17px;
    font-weight: 900;
    color: #666;
    border: 1px solid #eee;
    padding: 0px 0 0 10px;
}

table h4 {
    font-size: 20px;
    margin: 0;
}

table p {
    font-size: 14px;
    margin: 0;
}

.table2 {
    width: 400px;
    border-spacing: 0;
    border: 1px solid #dedcdc;

    td {
        text-align: left;
        font-size: 12px;
        font-weight: normal;
        padding: 6px 15px;
    }

    select {
        width: 50px;
    }
}

.baener {
    width: 1030px;
    height: 150px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 40px;
    cursor: pointer;

    img {
        width: 100%;
    }
}

.txtmamog {
    width: 1030px;
    height: 100%;
    margin: 0 auto;
    border-top: #666 1px solid; 

    .mamoge {
        width: 25%;
        height: 440px;
        margin-top: 40px;
        font-size: 21px;
        font-weight: 500;
        float: left;
    }

    .mamoge1 {
        width: 75%;
        height: 440px;
        margin-top: 40px;
        float: right;

        #tmpBox {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            float: left;
            color: #000;

            h4 {
                font-size: 18px;
                margin-bottom: 15px;
            }

            p:nth-of-type(1) {
                font-size: 15px;
                margin-bottom: 33px;
                line-height: 1.5;
            }

            p:nth-of-type(2) {
                font-size: 15px;
                margin-bottom: 1px;
                line-height: 1.5;
            }

            p:nth-of-type(3) {
                float: right;
            }

        }
    }
}

.txtmamog_a {
    width: 1030px;
    height: 100%;
    margin: 0 auto;


    .mamoge_a {
        width: 25%;
        height: 290px;
        font-size: 21px;
        font-weight: 500;
        margin-top: 40px;
        float: left;
        
    }

    .mamoge1_a {
        width: 75%;
        height: 290px;
        margin-top: 40px;
        float: right;
        

        #tmpBox_a {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            float: left;
            color: #000;

        p{
            font-size: 15px;
            margin-bottom: 33px;
        }

        }
    }
}

.txtmamog_b {
    width: 1030px;
    height: 100%;
    margin: 0 auto;
    

    .mamoge_b {
        width: 25%;
        height: 550px;
        font-size: 21px;
        font-weight: 500;
        float: left;
    }

    .mamoge1_b {
        width: 75%;
        height: 290px;
        margin-top: 40px;
        float: right;

        #tmpBox_b {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            float: left;
            color: #000;

        p{
            font-size: 15px;
            margin-bottom: 33px;
        }

        }
    }
}